@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
    font-family: 'Roboto', sans-serif;

}

.set-bg-key {
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100px;
    font-size: 80px;
    line-height: 100px
}